{% extends 'website/index.html' %}
{% block title %}<title>About Wealthy Kate | Building Tommorrow</title>{% endblock %}

{% block body %}
<br><br>
<div class="jumbotron" style="background: #000; border-radius: 0px;">
    <h1 class="display-4">ABOUT WEALTHYKATE</h1>
</div>
<!-- <div class="jumbotron bg-primary"></div> -->
<br><br><br><br>

<div class="jumbotron container about-jumbo">
    Ambassador Kate Okoroji-Igbodike widely known as Wealthykate is the author of the Book: <b>SMART THINKING, SMART  IDEAS, WEALTHY PEOPLE.</b><br><br>

     She is a retired Public Servant of the Federal Republic of Nigeria and a retired Foreign Service Officer.<br>

    She worked and retired from the Nigerian Ministry of Foreign Affairs after the mandatory 35 years of service.<br>

     

    She served as a Foreign Service Officer (diplomat) in many Nigerian Missions abroad, including New York in The United States of America and London in The United Kingdom.<br>
    She holds a Masters Degree in Diplomatic Studies from the Diplomatic Academy of Westminster University, UK London.<br>
    She is well-traveled and a teacher of French Language.<br>

    Wealthykate  is the CEO and president of  Theoginia Nig Ltd and the Founder of THEO-GINIA WOMEN FOUNDATION - a non-profit Organization for women Empowerment via which she offers advisory and micro-scheme assistance to indigent women. With her great propensity for success in wealth creation, Wealthykate is a serial investor: in properties, Blockchain and Crypto currency, hedge funds, the forex Market, transportation, insurance and a great lover of Multi level marketing.<br><br>

    Wealthykate is a professed advocate of Technology adoption evident in her partnership with Frontline Standard Tech Point (FSTP) one of the biggest Information Technology companies in Nigeria, to educate the youths on the prospects of computer learning and the future of technology. She’s involved in teaching/free public lectures on:  lifestyles, healthy living, investments in Blockchain technology and crypto currency, wealth creation and several other opportunities occasioned by the global village<br><br>

    Wealthykate  has both a good network and good net-worth.<br>

    She’s  also, a Consultant on investments, interior decorating and healthy living.<br>
    Her hobbies and areas of interest include inter-alia: reading and writing, public speaking, Peace and conflict Resolution, negotiations, gender issues, researching, the Twenty first century or the internet age, cutting-edge technologies and their effects on people. Learning about other cultures;<br><br>

    AWARDS:<br><br>

    Wealthykate is a recipient of award of recognition from Rotary Club International, District 911, Festac Town, Lagos 2003;  as well as another awards from FOBNAR HEALTH FOUNDATION, Festac Town , Lagos, also in 2003
</div>
{% endblock %}